<!--<!DOCTYPE html>-->
<html lang="pl">
<head>
    <title>Lista pokemonów</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<header>
    <h1 class="only-wide">
        Pokémon - nazwa serii gier konsolowych firmy Nintendo, tworzonych od 1996 przez Satoshiego Tajiri.
    </h1>
    <h1 class="only-narrow">
        Pokémon
    </h1>
</header>
<aside class="only-wide">
    Każdy pokémon posiada typ, który określa moce i możliwości, jakie posiada, określając w ten sposób jego dalszy
    rozwój i ewolucję. Istnieją pokémony posiadające dwa typy. W sumie istnieje osiemnaście typów:
    <ul>
        <li>baśniowe (fairy)</li>
        <li>duchowe (ghost),</li>
        <li>elektryczne (electric),</li>
        <li>kamienne (rock),</li>
        <li>latające (flying),</li>
        <li>lodowe (ice),</li>
        <li>mroczne (dark),</li>
        <li>normalne (normal),</li>
        <li>ogniste (fire),</li>
        <li>psychiczne (psychic),</li>
        <li>robacze (bug),</li>
        <li>smocze (dragon),</li>
        <li>stalowe (steel),</li>
        <li>trawiaste (grass),</li>
        <li>trujące (poison),</li>
        <li>walczące (fighting),</li>
        <li>wodne (water),</li>
        <li>ziemne (ground).</li>
    </ul>
</aside>
<main>
    <table>
        <tr id="table-header">
            <th onclick="sortBy('name')" class="sortable">Nazwa</th>
            <th onclick="sortBy('height')" class="sortable">Wzrost</th>
            <th onclick="sortBy('weight')" class="sortable">Waga</th>
            <th>Groźny</th>
        </tr>
    </table>
</main>

<footer>
    <span class="only-wide">
        Pokémon – japoński serial anime tworzony od 1997 roku. W Japonii odcinki
        dzielą się na sześć serii: Pokémon, Pokémon: Advanced Generation,
        Pokémon: Diamond &amp; Pearl, Pokémon: Best Wishes!, Pokémon: XY i Pokémon
        Sun &amp; Moon, jednak wszędzie poza nią stosowany jest podział na 21
        sezonów.
    </span>
    <span class="only-narrow">
        Pokémon
    </span>
</footer>

<script src="javascripts/list.js"></script>
</body>
</html>
