<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Pokemon TODO</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<header>
    <h1 class="only-wide">
        Pokémon - nazwa serii gier konsolowych firmy Nintendo, tworzonych od 1996 przez Satoshiego Tajiri.
    </h1>
    <h1 class="only-narrow">
        Pokémon
    </h1>
</header>
<main>
    <a href="/">Wróć</a>
    <form action="/api/dangerous" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrf %>" />
        <input type="hidden" name="_id" value="<%= id %>"/>
        <button>Zgłoś zagrożenie</button>
    </form>
</main>
<footer>
    <span class="only-wide">
        Pokémon – japoński serial anime tworzony od 1997 roku. W Japonii odcinki
        dzielą się na sześć serii: Pokémon, Pokémon: Advanced Generation,
        Pokémon: Diamond &amp; Pearl, Pokémon: Best Wishes!, Pokémon: XY i Pokémon
        Sun &amp; Moon, jednak wszędzie poza nią stosowany jest podział na 21 sezonów.
    </span>
    <span class="only-narrow">
        Pokémon
    </span>
</footer>

<script src="javascripts/pokemon.js"></script>
</body>
</html>
