.only-narrow {
  display: none;
}

@media screen and (max-width: 600px) {
  .only-wide {
    display: none;
  }

  .only-narrow {
    display: block;
  }
}

.sortable:hover {
    text-decoration: underline;
    cursor: grab;
}